.content__right
  .right__header
    %h1= @group.name
    .header__box
      = link_to 'Edit', edit_group_path(@group), class:"edit-button"
    .header__member
      %p Member :
      %ul
        - @group.users.each do |user|
          %li= user.name
  .right__middle
    -@messages.each do |message|
      .message{"data-message-id":"#{message.id}"}
        .message__top
          %h1= message.user.name
          %p.date= message.date_time
        .message__bottom
          %p= message.text
          = image_tag "#{message.image}"
  .right__footer
    =form_for [@group,@message] do |f|
      .text-box
        =f.text_field :text, placeholder:"type a message", autofocus:"true"
        .picture-button
          =f.label :image do
            =f.file_field :image,class:"pic-button", accept: 'image/jpg,image/jpeg,image/png,image/gif'
            %p #{fa_icon "picture-o"}
      .send-button
        =f.submit "Send"
