.content__left
  .left__header
    %p= current_user.name
    .awesome-icon
      = link_to '', new_group_path, class:"fa fa-pencil-square-o"
      = link_to '', edit_user_path(current_user), class:"fa fa-cog"
  .left__bottom
    - @groups.each do |group|
      .group
        .group__name
          = link_to group.name,group_messages_path(group)
        .group__message
          %p= group_last_message(group)
