.content__right
  .right__header
    %h1 グループ名
    .header__box
      = link_to 'Edit', edit_group_path(@group), class:"edit-button"
    .header__member
      %p Member :
      %ul
        %li chosen-one
        %li chosen-one
  .right__middle
    -@messages.each do |message|
      .message
        .message__top
          %h1= message.user.name
          %p.date= message.created_at
        .message__bottom
          %p= message.text
          = image_tag "#{message.image}"
  .right__footer
    =form_for [@group,@message] do |f|
      .text-box
        =f.text_field :text, placeholder:"type a message"
        .picture-button
          =f.label :image do
            =f.file_field :image,class:"pic-button"
            %p #{fa_icon "picture-o"}
      .send-button
        =f.submit "Send"
